LLM_STREAM=false
LLM_MAX_TOKEN=4096
LLM_TEMPERATURE=1.0

LLM_API_KEY="<your-llm-api-key>"
LLM_BASE_URL="<your-llm-base-url>"
LLM_MODEL="<your-llm-model>"
GITLAB_TOKEN="<your-gitlab-private-token>"

PLANTUML_URL="<your-plantuml-url>"


# Database type (sqlite, postgres, mysql)
DB_TYPE=postgres

# Database parameters if you want db store
DB_USER=<your-db-user>
DB_PASS=<your-db-pass>
DB_HOST=<your-db-host>
DB_PORT=<your-db-port>
DB_NAME=<your-db-name>
DB_URL="postgres://<your-db-user>:<your-db-pass>@<your-db-host>:<your-db-port>/<your-db-name>?sslmode=disable"

EMBED_URL="<your-embed-url>"
EMBED_MODEL="<your-embed-model>"

DEFAULT_USERNAME=<your-admin-user>
DEFAULT_PASSWORD=<your-admin-pass>